.element-preview {
    background-color: $clr8;
    color: whitesmoke;
    border-radius: .2em;
    margin: 5px;
    text-align: center;
    padding: 5px;
}

.element-preview span {
    color: pink;
}